# Database
DB_ROOT_PASSWORD=
DB_PASSWORD=

# Redis
REDIS_PASSWORD=

# MQTT
MQTT_BROKER_URL=tcp://your-mqtt-broker:1883
MQTT_CLIENT_ID=chome-backend
MQTT_USERNAME=
MQTT_PASSWORD=

# Application
APP_BASE_URL=http://localhost:3000
APP_EMAIL_TOKEN_SECRET=
APP_JWT_SECRET=

# Mail
MAIL_USERNAME=
MAIL_PASSWORD=

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
